.banner-container {
    box-sizing: border-box;
    display: flex;
    overflow-x: auto;
    width: 100%;
    background-image: url('../../../Assets/banenr_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em 1em;
    height: 50%;
}