@import "../../../_globalStyles";

.contests-container {
    width: 100%;
    padding: 1em 1em;
    background-color: $offWhite;
    text-align: left;
    box-sizing: border-box;
    overflow: hidden;
}

.no-contests {
    font-family: $ProximaNovaBold;
    font-size: 1em;
    color: $lightBlack;
}

.contest-header-wrapper {
    display: flex;
    justify-content: space-between;

    p {
        margin: 0;
    }

    .contests-header {
        margin: 0;
        font-family: $ProximaNovaBold;
        font-size: 13px;
        color: $reddishBlack;
    }

    .contest-sub-header {
        font-family: $RajdhaniSemiBold;
        font-size: 12px;
        color: $lightGray;
    }
}