@import "../../../_globalStyles";

.card {
    width: 100%;
    height: 100px;
    background-image: url('../../../Assets/banenr_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    border-radius: 8px;
    color: $white;
    text-align: center;
    padding: 1em 1em;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.20);

    p {
        margin: 0;
    }

    .card-text {
        font-family: $ProximaNovaBold;
        font-size: 18px;
        margin-top: 10px;
    }

    .card-sub-text {
        font-family: $ProximaNovaSemiBold;
        font-size: 12px;
        margin-top: 10px;
    }
}