@import "../../../_globalStyles";

.tabs {
    width: 20%;
    display: inline-block;
    color: $lightGray;
    text-align: center;
    margin: 5px;
    text-decoration: none;
    font-family: $RajdhaniSemiBold;
    box-sizing: border-box;
    cursor: pointer;
}
  
.tabs:hover {
    font-family: $RajdhaniBold;
    border-bottom: 2px solid rgb(85,168,254);
    color: rgb(85,168,254);
}

.active {
    font-family: $RajdhaniBold;
    border-bottom: 2px solid rgb(85,168,254);
    color: rgb(85,168,254);
}

.tab-info-container {
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
        margin: 5px 0 0 0;
        font-size: 1em;
    }
}

.tab-image {
    width: 20%;
    height: 20%;
    margin: 0 auto;
}