$primaryThemeColor: #EE82EE;
$lightBlue: #15A7FD;
$seaGreenDark: #48CFAD;
$seaGreenLight: #19A784;
$seaGreen: #1CC774;
$lightGreen: #47C868;
$offWhite: #EEEEEE;
$white: #FFFFFF;
$black: #000000;
$reddishWhite: #F7F7F7;
$reddishBlack: #666666;
$lightBlack: #111111;
$lightGray: #999999;
$silver: #777777;

$ProximaNovaBold: 'ProximaNova-Bold';
$ProximaNovaSemiBold: 'ProximaNova-Semibold';
$RajdhaniSemiBold: 'Rajdhani-SemiBold';
$RajdhaniBold: 'Rajdhani-Bold';